button {
  color: inherit;
}

.btn {
  display: flex;
  border-radius: 20px;
  font-size: 1em;
  background: none;
  border: none;
  padding: 8px 25px;
}

.btn img {
  margin: auto 0;
  width: 16px;
}

.btn span {
  text-align: left;
  margin: auto 0 auto 11px;
}

.standard {
  border: 2px solid #fff;
}

.cta {
  background: linear-gradient(
    0deg,
    rgba(217, 81, 157, 1) 0%,
    rgba(237, 135, 112, 1) 100%
  );
}
